require "<%= app_name %>"
require "rails"

module <%= app_module %>
  ASSET_PATH = "/<%= app_name %>%s"

  class Engine < Rails::Engine

    initializer "my_engine.asset_path" do
      <%= app_module %>::ApplicationController.config.asset_path = ASSET_PATH
    end

  end
end
